body {
    text-align: center;
    font-family: Arial;
}

#main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 450px;
    margin: auto;
}

#main img {
    width: 130px;
    height: 130px;
    margin: 10px;
    border: 3px solid transparent;
    border-radius: 8px;
    cursor: pointer;
}

.selected {
    border-color: blue;
}

button {
    margin: 10px;
    padding: 8px 16px;
}
