#images {
  display: flex;
  flex-wrap: wrap;
  width: 330px;
  gap: 10px;
}

#images img {
  width: 100px;
  height: 100px;
  cursor: pointer;
  border: 3px solid transparent;
}

#images img.selected {
  border-color: blue;
}
